<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="chapter2">
    
    <ul>
        <li v-for="name in names" v-text="name"></li>
    </ul>

        <input type="text" v-model="newName">
        <button v-on:click="addName">Add New Name</button>
    </div>

    <!-- Veujs Framwork js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <script src="chapter1.js"></script>
</body>
</html>