<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .myClassName {
        background-color: brown;
      }
    </style>
  </head>
  <body>
    <div id="chapter2">
      <h2>All Task</h2>
      <ul>
        <li v-for="task in tasks" v-text="task.taskName" ></li>
      </ul>

      <h2>All Completed Task</h2>
      <ul>
        <li v-for="task in completedTasks" v-text="task.taskName" ></li>
      </ul>

      <h2>All UnCompleted Task</h2>
      <ul>
        <li v-for="task in unCompletedTasks" v-text="task.taskName" ></li>
      </ul>
    </div>

    <!-- Veujs Framwork js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <script src="chapter1.js"></script>
  </body>
</html>
